[Unit]
Description=xrncli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=xrnd
Group=xrnd
PermissionsStartOnly=true
ExecStart=/usr/bin/xrncli rest-server --laddr {{GAIACLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

