[Unit]
Description=xrnd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=xrnd
Group=xrnd
PermissionsStartOnly=true
ExecStart=/usr/bin/xrnd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

